{% extends "home/base.html" %}
{% block content %}
    picture of PAI
<h2> Welcome Developers and Attackers :) </h2>
<p> This website made by Michael Hamami And Ariel Vainshtein as part of a graduate final project
    in software engineering at afeka college</p>
    ?? guided by Roi Zimon ... more info ???
<p> PAI main goal is to teach developers to perform sql injection attacks as well as ways to defend
    against them.
    When you guys need to think how to exploit website you need to think like attacker this can improve your ideas
    how to defense against attackers.</p>

    can added picturs of us
    smalim shel afeka
    mail picture
<h5><strong> Contact us if you have any idea for the website or report for a bug</strong></h5>
<p> Mail : Support_PAI@gmail.com </p>






{% endblock content %}


