<!--{% load static %}-->
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap -->
<link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Material Design for Bootstrap -->
<link href="{% static 'home/css/mdb.min.css' %}" rel="stylesheet">

<!-- MDBootstrap Datatables  -->
<link href="{% static 'home/css/addons/datatables2.min.css' %}" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">&ndash;&gt;-->

<!--    &lt;!&ndash;                CSS              &ndash;&gt;-->

<!--    &lt;!&ndash; Bootstrap &ndash;&gt;-->
<!--    <link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet">-->

<!--    &lt;!&ndash; Material Design for Bootstrap &ndash;&gt;-->
<!--    <link href="{% static 'home/css/mdb.min.css' %}" rel="stylesheet">-->

<!--    &lt;!&ndash; MDBootstrap Datatables  &ndash;&gt;-->
<!--    <link href="{% static 'home/css/addons/datatables2.min.css' %}" rel="stylesheet">-->

<!--    <link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">-->


</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <a class="navbar-brand mr-4" href=#>Welcome Back, {{request.user}} </a>
                {% endif %}
            </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
              <a class="nav-item nav-link" href="{% url 'learn' %}">Learn</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'problems_list' %}">Problems</a>
                <a class="nav-item nav-link" href=#>Change Password</a>
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
</html>