{% extends "home/base.html" %}
{% load static %}
{% block header %}{% endblock %}
{% block content %}

<h2> PAI - Protection Against Injection </h2>

<h3> Welcome to PAI </h3>

<!--    Maybe do a silde bar of problems tizer le ma she yesh batar...-->
        <!-- Carousel wrapper -->
<body>
  <div
    id="carouselDarkVariant"
    class="carousel slide carousel-fade carousel-dark"
    data-ride="carousel"
  >
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carouselDarkVariant" data-slide-to="0" class="active"></li>
      <li data-target="#carouselDarkVariant" data-slide-to="1"></li>
      <li data-target="#carouselDarkVariant" data-slide-to="2"></li>
    </ol>

    <!-- Inner -->
    <div class="carousel-inner">
      <!-- Single item -->
      <div class="carousel-item active">
        <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(19).jpg"
          class="d-block w-100"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>

      <!-- Single item -->
      <div class="carousel-item">
        <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(35).jpg"
          class="d-block w-100"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>

      <!-- Single item -->
      <div class="carousel-item">
        <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).jpg"
          class="d-block w-100"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>

    <a
      class="carousel-control-prev"
      href="#carouselDarkVariant"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselDarkVariant"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
  <!-- Carousel wrapper -->
  <br>
  <h3><strong> So what we Have here ? </strong></h3>
  <p> You will have here varius types of Sql Problems.
      you will need to solve those problems. </p>
      <strong> You think you can? </br> go Sign in and Start solve them all !!! </strong>
      <p> we have learn section so you can learn about sql injection , we will recommend you to check it out !!</p>
</body>
{% endblock content %}


