{% extends "home/base.html" %}
{% block content %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>All Available Problems</h5>
		</div>
			<div class="card card-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th class="font-weight-bold text-primary">Difficulty</th>
						<th class="font-weight-bold text-primary">Name</th>
						<th class="font-weight-bold text-primary">Type</th>
					</tr>
				</thead>
					<tbody>
						{% for problem in problem_list %}
						   <tr>
							   <td>
								  {% if problem.difficulty == 1 %}
									   <a class="btn btn-info btn-lg btn-block font-weight-bold" href="{{problem.hreference}}" role="button">Easy</a>
								   {% elif problem.difficulty == 2 %}
									   <a class="btn btn-warning btn-lg btn-block font-weight-bold" href="{{problem.hreference}}" role="button">Medium</a>
								   {% else %}
									   <a class="btn btn-danger btn-lg btn-block font-weight-bold" href="{{problem.hreference}}" role="button">Hard</a>
								   {% endif %}
							  </td>
							 <th><u><a href="{{problem.hreference}}" class="font-weight-bold text-info">{{problem.name}}</a></u></th>
							 <th class="font-weight-bold"><a href="{{problem.hreference}}">{{problem.type}}</a></th>
						  </tr>
						  {% endfor %}
					</tbody>

				</table>
			</div>
	</div>

</div>

{% endblock content %}

<style>
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
</style>
