{% extends "home/base.html" %}
{% load static %}
{% block content %}
<body>
    <br>
    <h4>Problem #1: In-Band</h4>
    <label>Retrieve all rows from the current table</label>
    <form method="POST">
        {% csrf_token %}
        <p>
            <hr class="divider">
            <label>ID:</label>
            <input type="text" name="input_id">
         <button class="btn btn-primary btn-sm" type="submit">Search</button>
        </p>
    </form>

    <div>
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#ShowHintNodal">Hint</button>
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#ShowCodeModal">Show Code</button>
    </div>


    {% if correct_answer %}
        <br><br>
        <div class="alert alert-success">
                <h6>Success! You've Got The Right Answer!</h6>
        </div>
        <br>
    {% endif %}

    {% if error %}
        <div class="alert alert-danger">
          <strong>{{error}}</strong>
        </div>
    {% endif %}

    {% if result %}
        <table class="table">
            <tr>
                <th class="font-weight-bold text-primary">ID</th>
                <th class="font-weight-bold text-primary">First Name</th>
                <th class="font-weight-bold text-primary">Last Name</th>
            </tr>

            {% for value in result %}
            <tr>
                <td class="text-danger">{{value.0}}</td>
                <td class="text-danger">{{value.1}}</td>
                <td class="text-danger">{{value.2}}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}


    <div id="ShowCodeModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                        <h6>Are you sure you want to view the code?</h6>
                    </p>
                </div>
                <div class="modal-footer">
                    <button name="confirm" class="btn btn-default" type="button" data-dismiss="modal" data-toggle="modal" data-target="#CodeModal">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <div id="CodeModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">The Executed Code</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h6><span class="text text-success">sql = f"SELECT * <br> FROM db_employees <br>WHERE id = {input_id_request};"</span></h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div id="ShowHintNodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                        <h6>Are you sure want to receive the hints?</h6>
                    </p>
                </div>
                <div class="modal-footer">
                    <button name="confirm" class="btn btn-default" type="button" data-dismiss="modal" data-toggle="modal" data-target="#HintNodal">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div id="HintNodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Hints</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h6>Try all sorts of inputs, see what result you're getting - sometimes even <span class="text text-warning">errors</span> can provide useful insight.</h6>
                    <hr>
                    <h6>There're certain <span class="text text-warning"> keywords and operators</span>  in SQL that are used to <span class="text text-warning">search for any value</span> with no filter</h6>
                    <hr>
                    <h6>The name of the current database is <span class="text text-warning">db_employees</span></h6>
                    <hr>
                    <h6>In our <span class="text text-warning">Learn/In-Band</span> section, there's an example with a solution similar to this problem.</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>

{% endblock content %}

.bg-modal{
 width: 100%;
 height:100%;
 background-color: rgba(0,0,0,0.5);
 position: absolute;
 top:0px;
 z-index: 1;
 display: none;  /* It will remain invisible until you open */
 justify-content: center; /*center horizontally*/
 align-items: center ; /* center vertically */}

.modal-content{
 width:600px;
 height:300px;
 background-color: white;
 border:none;
 border-radius: 15px;
 padding:15px;
 position: relative;
 }
.close{
 position: absolute;
 top:5px;
 right: 14px;
 font-size:25px;
 transform: rotate(45deg); /* will make it look like x */
 cursor: pointer;
 }
