
{% extends "home/base.html" %}
{% block content %}

<body>
    <br>
    {% include 'problems/problem_answer.html' %}

    <div id="just-line-break"></div>

    <br/>

    <div id="line-break-and-tab"></div>

    <form method="POST">
                  {% csrf_token %}
                    <p>
                        <h6>Given the table 'db_employees', please retrieve all of the employees</h6>
                        <hr class="divider">
                        <label>First Name</label>

                        <input type="text" name="first_name">
                        <br>
                        <label>Last Name</label>
                        <input type="text" name="last_name">
                    </p>
        <button class="btn btn-primary btn-sm" type="submit">Search</button>
    </form>

    {% if num_items == num_resulted_items %}
    <br>
    <div class="alert alert-success">

      <strong>Success!</strong> You've Got The Right Answer!
    </div>
    {% endif %}

    {% for value in result %}
        <p>
            <h6 class="text-danger">{{forloop.counter}}. ID: {{value.0}}</h6>
            <h6 class="text-danger">First Name: {{value.1}}</h6>
            <h6 class="text-danger">Last Name: {{value.2}}</h6>
        </p>
    {% endfor %}

</body>
{% endblock content %}