{% extends "home/base.html" %}
{% block content %}

<body>
<h2> The Clothing Store - Hard Problem </h2>

    {% include 'problems/problem_answer.html' %}

    <div id="just-line-break"></div>

    <br/>

    <div id="line-break-and-tab"></div>

    <form id="form_id" method="POST">
                  {% csrf_token %}
                    <p>
                        <label>Barcode</label>
                        <input type="text" name="item_name">
                    </p>
        <button type="submit">Search</button>
    </form>

    {% if num_items is not none and num_items is 3 %}
    <br>
    <div class="alert alert-success">

      <strong>Success!</strong> You've Got The Right Answer!
    </div>
    {% endif %}

    {% if error is not null %}
        <h8>{{error}}</h8>
    {% endif %}

    {% for value in result %}
        <p>
            <h4>{{forloop.counter}}. Barcode: {{value.0}}</h4>
            <h4>Item Name: {{value.1}}</h4>
            <h4>Manufacturer: {{value.2}}</h4>
            <h4>Price: {{value.3}}$</h4>
        </p>
    {% endfor %}

    {% comment %}
        <h4>Sql: {{raw_sql}}</h4>
        <h4>Input Request: {{input_request}}</h4>
        <h4>result: {{result}}</h4>
    {% endcomment %}


</body>
{% endblock content %}