{% extends "home/base.html" %}
{% block content %}

<body>
    <br>
    <h4>Problem #3: In-Band</h4>
    <div id="line-break-and-tab"></div>
    <form method="POST">
        {% csrf_token %}
        <p>
            <h6>Given unknown table, retrieve all its rows.</h6>
            <hr class="divider">
            <label>Barcode:</label>
            <input type="text" name="item_name">
        <button class="btn btn-primary btn-sm" type="submit">Search</button>
        </p>

    </form>

    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#ShowCodeModal">Hint</button>
    <div id="CodeModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Hints</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h6><span class="text text-warning">key_words</span>  = ['or', 'and', '#', 'join', ';']</h6>
                    <hr>
                    <h6><span class="text text-warning">item_name_request</span>  = request.POST.get("item_name")</h6>
                    <hr>
                     <h6>for <span class="text text-warning">kw</span> in <span class="text text-warning">key_words</span>:</h6>
                    <h6 style="margin-left: 10px">if <span class="text text-warning">kw</span> in <span class="text text-warning">item_name_request</span>
                    <h6 style="margin-left: 20px"><span class="text text-warning">item_name_request</span> = 1</h6>
                    <h6 style="margin-left: 20px">break</h6>
                    <hr>
                        <h6>Try all sorts of inputs that yield <span class="text text-success">error</span> messages, the information they provide may be useful </h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="ShowCodeModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                        <h6>Are you sure you want to view the code?</h6>
                    </p>
                </div>
                <div class="modal-footer">
                    <button name="confirm" class="btn btn-default" type="button" data-dismiss="modal" data-toggle="modal" data-target="#CodeModal">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    {% if correct_result %}
        <br>
        <div class="alert alert-success">
          <strong>Success!</strong> You've Got The Right Answer!
        </div>
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#DefendModal">Mitigation Methods</button>
    {% endif %}

    {% if error %}
        <br>
        <div class="alert alert-danger">
          <strong>{{error}}</strong>
        </div>
    {% endif %}

    {% if result %}
         <table class="table">
                <tr>
                    <th class="font-weight-bold text-primary">Barcode</th>
                    <th class="font-weight-bold text-primary">Item Name</th>
                    <th class="font-weight-bold text-primary">Manufacturer</th>
                    <th class="font-weight-bold text-primary">Price</th>
                </tr>

            {% for value in result %}
             <tr>
                 <td class="text-danger">{{value.0}}</td>
                 <td class="text-danger">{{value.1}}</td>
                 <td class="text-danger">{{value.2}}</td>
                 <td class="text-danger">{{value.3}}</td>
             </tr>
            {% endfor %}
         </table>
    {% endif %}

</body>
{% endblock content %}