{% extends "home/base.html" %}
{% block content %}

<body>
<h2> 4th - Blind Easy Problem </h2>

    {% include 'problems/problem_answer.html' %}

    <div id="just-line-break"></div>

    <br/>

    <div id="line-break-and-tab"></div>

    <form method="POST">
        {% csrf_token %}
        <p>
            <h5>Your objective here is to find out the table name</h5>
            <input type="text" name="input_manufacturer">
            <button type="submit">Search</button>
        </p>
    </form>

        <article class="media content-section">
            <div class="article-metadata">
              <p class="mr-2"> {{ message }}</p>
            </div>
        </article>

</body>
{% endblock content %}