{% extends "home/base.html" %}
{% block content %}

<form class="dropdown" id="drop_down_form" method="POST">
    {% csrf_token %}
    <h5>Using any means necessary, retrieve the entire store catalog.</h5>
    <select name="item_select" id="item_select" class="form-control">
         {% for item in items %}
            <option value="{{item}}">{{item}}</option>
         {% endfor %}
    </select>
    <br>
    <button type="submit">Search</button>
</form>

{% if result is not none %}
    <br>
    {% if num_items is not none and num_items is 5 %}
    <div class="alert alert-success">

      <strong>Success!</strong> You've Got The Right Answer!
    </div>
    {% endif %}

    {% if num_items == num_resulted_items %}
    <br>
    <div class="alert alert-success">
      <strong>Success!</strong> You've Got The Right Answer!
    </div>
    {% endif %}
    <div>
        {% for objects in result%}
                 {{objects.value}}
        <p>
            <h6 class="text-info">{{forloop.counter}}. Barcode: {{objects.0}}</h6>
            <h6 class="text-info">Item Type: {{objects.1}}</h6>
            <h6 class="text-info">Manufacturer: {{objects.2}}</h6>
            <h6 class="text-info">Price: {{objects.3}}$</h6>
        </p>
        {% endfor %}
    </div>
{% endif %}

{% endblock content %}