{% extends "home/base.html" %}
{% block content %}

<body>

    {% include 'problems/problem_answer.html' %}

    <div id="just-line-break"></div>

    <br/>

    <div id="line-break-and-tab"></div>

    <form method="POST">
        {% csrf_token %}
        <p>
            <label>First Name:</label>
            <input type="text" name="input_first_name">
            <button type="submit">Search</button>
        </p>

    </form>

        <article class="media content-section">
            <div class="article-metadata">
              <p class="mr-2"> {{ message }}</p>
            </div>
        </article>

</body>
{% endblock content %}